@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=latin-ext');
@import 'modules/fonts';
@import 'modules/colors';
@import 'modules/grid';
@import 'modules/reset';
@import 'partials/header';
@import 'partials/main_info';
@import 'partials/main_description';
@import 'partials/footer';

body {
    font-family: 'Roboto Mono', monospace;
    background-color: $white;
    // overflow: hidden;
}

.container__wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: $neutral-grey;
}
