.contact__container {
    height: 1000px;
    background-color: $white;

    .contact__container--title {
        font-size: 20px;
        text-transform: uppercase;
        padding: 5em 0  0 3em;
    }

    .title__circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid $dark-blue-primary;
        position: relative;
        top: -50px;
        left: 40px;
    }

    .contact__container--form {
        padding: 0 0 0 3em;
        display: flex;
        justify-content: flex-end;

    }

    .contact__form--input,
    .contact__form--message,
    .contact__form--submitBtn {
        display: block;
        width: 500px;
        height: 50px;
        margin: 3em 0;
        background-color: $neutral-grey;
        border-style: 1px solid;

        &::-webkit-input-placeholder {
            color: $black;
            font-family: 'Roboto Mono', monospace;
            font-size: 16px;
            padding-left: 1em;
        }
    }

    .contact__form--message {
        height: 200px;
        resize: none;


    }

    .contact__form--submitBtn {
        background-color: $dark-blue-primary;
        color: $white;
        text-transform: uppercase;
        border: none;
        font-family: 'Roboto Mono', monospace;
        font-size: 16px;
        letter-spacing: 0.1em;
    }
}
