.contact__container {
    position: relative;
    background-color: $white;

    &--title {
        font-size: 20px;
        text-transform: uppercase;
        padding: 3em 0 0 2em;
        @include respond-to($desktop) {
            margin-left: 60px;
        }
    }

    &--form {
        display: flex;
        justify-content: center;
        width: 100%;
        @include respond-to($desktop) {
            justify-content: flex-end;
            padding: 0 0 0 3em;
        }
    }

    .title__circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid $dark-blue-primary;
        position: relative;
        top: -50px;
        left: 20px;
        @include respond-to($desktop) {
            margin-left: 60px;
        }
    }

    .contact__form--input,
    .contact__form--message,
    .contact__form--submitBtn {
        display: block;
        width: 320px;
        height: 50px;
        margin: 3em 0;
        background-color: $neutral-grey;
        border-style: none;
        color: $black;
        font-family: $main-font;
        padding-left: 20px;;
        font-size: 16px;
        line-height: 20px;

        @include respond-to($tablet-portrait) {
            width: 480px;
        }

        @include respond-to($desktop) {
            display: block;
            width: 500px;
            height: 50px;
            margin: 3em 0;
            background-color: $neutral-grey;
            border-style: none;
        }
    }

    .contact__form--message {
        height: 200px;
        resize: none;
    }

    .contact__form--submitBtn {
        background-color: $dark-blue-primary;
        color: $white;
        text-transform: uppercase;
        border: none;
        font-family: $main-font;
        font-size: 16px;
        letter-spacing: 0.1em;
    }
}
