.footer__container {
    background: $white;
    position: relative;

    &--social {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 60px;
        padding-top: 2em;

        a {
            &:visited {
                color: $medium-blue-primary;
            }
            &:hover {
                color: $dark-blue-primary;
            }
            &:active {
                color: $turquoise-secondary-main;
            }
        }
    }

    &--text {
        font-size: 10px;
        color: $neutral-grey;
        text-align: center;
        margin-top: 2em;
        margin-bottom: 2em;
        padding-bottom: 1.2em;
        
        a {
            color: $neutral-grey;
            &:visited {
                color: $neutral-grey;
            }
            &:hover {
                color: $medium-blue-primary;
            }
            &:active {
                color: $turquoise-secondary-main;
            }
        }
        @include respond-to($large-desktop) {
            margin-top: 3em;
        }
    }

    &--logo {

        img {
            width: 100px;
            margin-top: -16px;
        }
    }
}
