// Header Component

.menu {
    width: 100%;
    background-color: $dark-blue-primary;
    position: fixed;
    z-index: 99999;
    padding: 20px 0;

    &__logo img {
        width: 150px;
        display: inline-block;

        @include respond-to($desktop) {
            width: 180px;
            padding: 10px 0 0 20px;
            display: inline-block;
        }
    }

    .nav__links {
        display: none;
        color: $white;

        @include respond-to($desktop) {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $white;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 0.1em;
            line-height: 80px;
            margin-bottom: 20px;
        }

        &--link {
            color: $white;
            text-decoration: none;

            &::after {
                content: "";
                width: 0;
                height: 2px;
                background-color: $turquoise-secondary-main;
                z-index: 99999;
                display: block;
                margin-top: -28px;
                transition: width .3s;
            }

            &:visited {
                color: $white;
            }

            &:hover{
                color: $turquoise-secondary-main;

                &::after {
                    width: 100%;
                }
            }
            &:active {
                color: $white;

                &::after {
                    width: 100%;
                }
            }
        }
    }
}

.hamburger {
    width: 50px;
    height: 25px;
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 45%;
    right: 8%;


    &__stripe {
        background-color: $turquoise-secondary-main;
        height: 2px;
        width: 50px;
        display: block;
        position: relative;
        top: 8px;
        transition: 1s;

        &:after, &:before {
            content: '';
            background-color: $turquoise-secondary-main;
            height: 2px;
            width: 50px;
            display: block;
            position: absolute;
            transition: all 500ms ease-in-out;
        }
        &:after {
            top: 10px;
        }
        &:before {
            top: -10px;
        }
    }
    @include respond-to($desktop) {
        display: none;
    }
    @include respond-to($large-desktop) {
        display: none;
    }

    &:hover {
        .hamburger__stripe {
            background-color: transparent;

            &:after {
                transform: rotate(45deg);
                top: -3px;
            }
            &:before {
                transform: rotate(-45deg);
                top: -3px;
            }
        }
    }
}

.active {
    position: absolute;
    cursor: pointer;
    top: 11%;
    left: 66%;

    .hamburger__stripe {
        background-color: transparent;

        &:after {
            transform: rotate(45deg);
            top: -3px;
        }
        &:before {
            transform: rotate(-45deg);
            top: -3px;
        }
    }
    &:hover {
        .hamburger__stripe {
            background-color: transparent;
            height: 4px;

            &:after {
                background-color: $white;
                transform: scale(1.2);
            }
            &:before {
                background-color: $white;
                transform: scale(1.2);
            }
        }
    }
}

.nav__mobile {
    display: none;
    width: 300px;
    height: 400px;
    background-color: $dark-blue-primary;
    position: absolute;
    top: 0;
    right: 0;

    &__menu {
        position: relative;
        top: 30%;
        left: 20%;
        margin: 0 auto;

        &--item {
            padding: 20px;
        }

        &--link {
            text-decoration: none;
            color: white;

            &::after {
                content: "";
                width: 0;
                height: 2px;
                background-color: $turquoise-secondary-main;
                z-index: 99999;
                display: block;
                margin-top: 8px;
                transition: width .3s;
            }

            &:visited {
                color: $white;
            }

            &:hover{
                color: $turquoise-secondary-main;

                &::after {
                    width: 100%;
                }
            }
            &:active {
                color: $white;

                &::after {
                    width: 100%;
                }
            }
        }
    }
}
