.main__description--container {
    position: relative;
    top: 100px;
    height: 900px;
    background-color: $white;
    overflow: hidden;

    .main__description--title {
        font-size: 20px;
        text-transform: uppercase;
        padding: 3em 0  0 3em;
    }

    .title__circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid $dark-blue-primary;
        position: absolute;
        z-index: 100;
        top: 30px;
        left: 60px;
    }

    .main__description--heading {
        font-family: 'itc_charter_blackitalic', serif;
        font-size: 36px;
        color: $black;
        // margin-top: 100px;
        line-height: 1.2em;
        padding: 1.8em 0.2em 1em 2em;
    }

    .main__description--text {
        font-size: 24px;
        line-height: 1.2em;
        padding: 0.2em 2em 0 4em;
    }

    .main__description--form {
        padding: 0.2em 2em 0 4em;
        margin: 4em 2em;

        .main__description--username, .main__description--password {
            border: 1px solid $turquoise-secondary-light;
            border-radius: 6px;
            background-color: $neutral-grey;
            display: block;
            width: 440px;
            height: 35px;
            margin-top: 2em;
            padding: 1em;
        }

        .main__description--username::-webkit-input-placeholder,
        .main__description--password::-webkit-input-placeholder { /* Chrome/Opera/Safari */
          color: $dark-blue-primary;
          text-transform: uppercase;
          font-family: 'Roboto Mono', monospace;
          font-size: 14px;
          letter-spacing: 1px;
          line-height: 1.2em;
        }

        .main__description--username::-moz-placeholder,
        .main__description--password::-moz-placeholder { /* Firefox 19+ */
          color: $dark-blue-primary;
          text-transform: uppercase;
          font-family: 'Roboto Mono', monospace;
          font-size: 14px;
          letter-spacing: 1px;
        }

        .main__description--username:-ms-input-placeholder,
        .main__description--password:-ms-input-placeholder { /* IE 10+ */
          color: $dark-blue-primary;
          text-transform: uppercase;
          font-family: 'Roboto Mono', monospace;
          font-size: 14px;
          letter-spacing: 1px;
        }

        .main__description--username:-moz-placeholder ,
        .main__description--password:-moz-placeholder  { /* Firefox 18- */
          color: $dark-blue-primary;
          text-transform: uppercase;
          font-family: $main-font;
          font-size: 14px;
          letter-spacing: 1px;
        }

        .main__description--button {
            border: 2px solid $turquoise-secondary-main;
            border-radius: 6px;
            background-color: $medium-blue-primary;
            width: 120px;
            height: 40px;
            color: $white;
            font-family: $main-font;
            font-size: 16px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            margin-top: 2em;
        }
    }

    .main__description--image {
        transform: rotate3d(-1, 1, 1, 20deg);
        -webkit-transform: rotate3d(-1, 1, 1, 20deg);
        transform-origin: center center;
        transition: all 0.2s ease-in-out 4s;
        -webkit-transform-origin: center center;
        -webkit-transition: all 0.2s ease-in-out 4s;

        .main__description--device {
            width: 500px;
            position: relative;
            top: 15em;
            right: 10em;
            visibility: hidden;

            @include respond-to($desktop) {
            visibility: visible;
                &:hover {
                    -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
                }
            }
        }



        .main__description--screen1, .main__description--screen2 {
            width: 230px;
            position: relative;
            top: -18em;
            right: 1.5em;

        }

        .main__description--screen1 {
            z-index: 1;
            visibility: hidden;

            @include respond-to($desktop) {
            visibility: visible;
                &:hover {
                    -webkit-animation: pulse 0.5s ease-in infinite;
                }
            }
        }

        .main__description--screen2 {
            visibility: hidden;
            right: 8em;

            @include respond-to($large-desktop) {
            visibility: visible;
                &:hover {
                    -webkit-animation: pulse 0.5s ease-in infinite;
                }
            }
        }
    }

    .main__description--dots {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        top: -200px;
        z-index: 999999;
        width: 300px;
    }

    .main__description--dot {
        width: 10px;
        height: 10px;
        background-color: $dark-blue-primary;
        margin: 10px;
        border-radius: 50%;
    }
}


@-webkit-keyframes shake {
 from {
    -webkit-transform: rotate(10deg);
 }
 to {
   -webkit-transform-origin:center center;
   -webkit-transform: rotate(-10deg);
 }
}

@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}
@keyframes push{
  50%  {transform: scale(0.8);}
}
@keyframes pop{
  50%  {transform: scale(1.2);}
}
