.main__info {
    width: 100vw;
    height: 700px;
    background-image: url("../assets/Background__photo__tint.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    @include respond-to($tablet-portrait) {
        height: 840px;
    }
    @include respond-to($desktop) {
        height: 780px;
    }

    &--banner {
        position: relative;
        z-index: 999;

        h1 {
            font-family: $heading-font;
            font-size: 58px;
            margin-top: 12rem;
            margin-left: 2rem;
            line-height: 1.2em;
            color: $white;

            @include respond-to($tablet-portrait) {
                font-size: 68px;
                margin-top: 16rem;
            }
            @include respond-to($desktop) {
                font-size: 90px;
                margin-top: 24rem;
                margin-left: 10rem;
            }
            @include respond-to($large-desktop) {
                font-size: 120px;
                margin-top: 24rem;
            }
        }

        p {
            color: $white;
            font-size: 16px;
            padding-top: 1.6em;
            padding-left: 2em;
            padding-right: 1em;
            font-weight: 400;
            line-height: 1.8em;
            @include respond-to($tablet-portrait) {
                padding-top: 2em;
                padding-left: 2em;
                padding-right: 2em;
            }
            @include respond-to($desktop) {
                font-size: 20px;
                padding-top: 1.2em;
                padding-left: 6em;
                font-weight: 400;
                line-height: 1.4em;
            }
        }
    }
}

.main__info--stripe {
    background-color: $medium-blue-transparent;
    width: 83.5%;
    margin: 0 auto;
    height: 260px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    @include respond-to($tablet-portrait) {
        height: 260px;
        top: 64%;
    }
    @include respond-to($desktop) {
        height: 260px;
        top: 64%;
        // transform: scaleX(1.2) scaleY(15);
        // transition-duration: 2s;
    }
}

.main__info--circle {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 1px solid $medium-blue-primary;
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
    @include respond-to($tablet-portrait) {
        top: 50px;
        width: 500px;
        height: 500px;
    }
    @include respond-to($desktop) {
        top: 50px;
        width: 768px;
        height: 768px;
    }
    @include respond-to($large-desktop) {
        top: 50px;
        width: 1000px;
        height: 1000px;
    }
}

.text-beforeScroll {
    transform: scale(1.2);
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    font-family: $heading-font;
    font-size: 58px;
    margin-top: 12rem;
    margin-left: 2rem;
    line-height: 1.2em;
    color: $white;
    @include respond-to($tablet-portrait) {
        transform: scale(1.2);
        transition-delay: 0.2s;
        transition-duration: 0.5s;
        font-family: $heading-font;
        font-size: 120px;
        color: $medium-blue-transparent;
        margin-top: 20rem;
        line-height: 1em;
    }
    @include respond-to($desktop) {
        font-size: 120px;
        margin-top: 26rem;
    }
}

.text-afterScroll {
    transform: scale(0.9);
    transition-duration: 0.5s;
    font-family: $heading-font;
    font-size: 58px;
    margin-top: 12rem;
    margin-left: 2rem;
    line-height: 1.2em;
    @include respond-to($desktop) {
        transform: scale(1);
        transition-duration: 0.5s;
        font-family: $heading-font;
        font-size: 100px;
        margin-top: 20rem;
        line-height: 1em;
    }
}

.stripe-beforeScroll {
    background-color: $medium-blue-transparent;
    width: 83.5%;
    margin: 0 auto;
    height: 130px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    transform: scaleX(1.2) scaleY(15);
    transition-duration: 1s;

    @include respond-to($tablet-portrait) {
        height: 260px;
        top: 580px;
        transform: scaleX(1.2) scaleY(12);
        // transition-duration: 2s;
    }

    @include respond-to($desktop) {
        height: 260px;
        top: 580px;
        transform: scaleX(1.2) scaleY(13);
        // transition-duration: 2s;
    }

    @include respond-to($large-desktop) {
        transform: scaleX(1.2) scaleY(24);
        transition-duration: 2s;
    }
}

.stripe-afterScroll {
    background-color: $medium-blue-transparent;
    width: 83.5%;
    margin: 0 auto;
    height: 130px;
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    transform: scaleX(1) scaleY(1);
    transition-duration: 1s;

    @include respond-to($tablet-portrait) {
        height: 260px;
        top: 64%;
        transform: scaleX(1) scaleY(1);
        transition-duration: 1s;
    }

    @include respond-to($desktop) {
        height: 260px;
        top: 64%;
        transform: scaleX(1) scaleY(1);
        transition-duration: 1s;
    }
}
