.main__info {
    width: 100vw;
    height: 840px;
    background-image: url("../assets/Background__photo__tint.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .main__info--banner {
        position: relative;
        z-index: 999;

        h1 {
            font-family: $heading-font;
            font-size: 120px;
            color: $white;
            margin-top: 26rem;
            line-height: 1em;
        }

        p {
            color: $white;
            font-size: 20px;
            padding-top: 1.2em;
            padding-left: 6em;
            font-weight: 400;
            line-height: 1.4em;
        }
    }
}

.main__info--stripe {
    background-color: $medium-blue-transparent;
    width: 83.5%;
    margin: 0 auto;
    height: 260px;
    position: absolute;
    top: 580px;
    left: 0;
    right: 0;

    // &:hover {
    //     transform: scale(10);
    //     transition-duration: 2s;
    // }

    // .grow {
    //     transform: scale(10);
    //     transition-duration: 2s;
    // }
    // z-index: 1;
}

.main__info--circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    border: 1px solid $medium-blue-primary;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 9999;
}

.text-beforeScroll {
    // background-color: $medium-blue-transparent;
    transform: rotate(45deg);
    transform: scale(1.2);
    transition-delay: 0.2s;
    transition-duration: 0.5s;
    font-family: $heading-secondary-font;
    font-size: 120px;
    color: $medium-blue-transparent;
    margin-top: 26rem;
    line-height: 1em;
}

.stripe-beforeScroll {
    background-color: $medium-blue-transparent;
    width: 83.5%;
    margin: 0 auto;
    height: 260px;
    position: absolute;
    top: 580px;
    left: 0;
    right: 0;
    transform: scale(10);
    transition-duration: 2s;
}

.stripe-afterScroll {
    background-color: $medium-blue-transparent;
    width: 83.5%;
    margin: 0 auto;
    height: 260px;
    position: absolute;
    top: 580px;
    left: 0;
    right: 0;
    transform: scale(1);
    transition-duration: 1s;
}

.text-afterScroll {
    transform: rotate(-45deg);
    transform: scale(0.8);
    // transition-delay: 0.5s;
    transition-duration: 0.5s;
    font-family: 'charteritc_bd_btbold_italic', serif;
    font-size: 100px;
    margin-top: 26rem;
    line-height: 1em;
}
