#main__searchform {
    padding-top: 120px;
}
.main__searchform--container {
    width: 100%;
    height: 150px;
    position: relative;
    // padding-top: 50px;
    display: flex;
    justify-content: center;
    @include respond-to($tablet-portrait) {
        height: 150px;
        // padding-top: 50px;
    }
    @include respond-to($desktop) {
        // padding-top: 50px;
        height: 150px;
    }

    .main__searchform--form {

        .main__searchform--title {
            font-size: 20px;
            text-transform: uppercase;
            @include respond-to($tablet-portrait) {
                font-size: 25px;
            }
            @include respond-to($desktop) {
                font-size: 25px;
            }
        }

        .main__searchform--input {
            display: block;
            width: 60%;
            margin: 3em 0 2em 0;
            color: $dark-blue-primary;
            font-family: $main-font;
            font-size: 14px;
            letter-spacing: 1px;

            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $dark-blue-primary;
                font-family: $main-font;
                font-size: 14px;
                letter-spacing: 1px;
                height: 40px;
            }

            &::-moz-placeholder { /* Firefox 19+ */
                color: $dark-blue-primary;
                font-family: $main-font;
                font-size: 14px;
                letter-spacing: 1px;
            }

            &::-ms-input-placeholder { /* IE 10+ */
                color: $dark-blue-primary;
                font-family: $main-font;
                font-size: 14px;
                letter-spacing: 1px;
            }
        }
    }
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        display: block;
        height: 600px;
        width: 100vw;
        // border: 2px solid $black;
        margin: 0 auto;

      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #description {
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
      }

      #infowindow-content .title {
        font-weight: bold;
      }

      #infowindow-content {
        display: none;
      }

      #map #infowindow-content {
        display: inline;
      }

      .pac-card {
          font-size: 15px;
          font-weight: 300;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 400px;
      }

      #pac-container {
        // padding-bottom: 12px;
        // margin-right: 12px;
      }

      .pac-controls {
        display: inline-block;
        padding: 5px 11px;
      }

      .pac-controls label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #pac-input {
        background-color: $white;
        font-family: $main-font;
        font-size: 15px;
        text-overflow: ellipsis;
        width: calc(100% - 0.2em);
        height: 45px;
        margin-top: 30px;
        // margin: 3em 0 2em 0;
        color: $dark-blue-primary;
        letter-spacing: 1px;

        @include respond-to($desktop) {
            width: 440px;
        }
        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $dark-blue-primary;
            font-family: $main-font;
            font-size: 18px;
            letter-spacing: 1px;
            line-height: 1.2em;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: $dark-blue-primary;
            font-family: $main-font;
            font-size: 14px;
            letter-spacing: 1px;
        }

        &::-ms-input-placeholder { /* IE 10+ */
            color: $dark-blue-primary;
            font-family: $main-font;
            font-size: 14px;
            letter-spacing: 1px;
        }

        &:focus {
            border-color: $turquoise-secondary-main;
        }
      }

      #title {
        color: $white;
        background-color: #4d90fe;
        font-size: 25px;
        font-weight: 500;
        padding: 6px 12px;
      }
