.main__info {
    width: 100vw;
    height: 840px;
    background-image: url("../assets/Background__photo__tint.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    // align-items: center;
    justify-content: center;



    .main__info--banner {

        position: relative;
        z-index: 999;

        h1 {
            font-family: 'charteritc_bd_btbold_italic', serif;
            font-size: 120px;
            color: $white;
            margin-top: 26rem;
            line-height: 1em;
        }

        p {
            color: $white;
            font-size: 20px;
            padding-top: 1.2em;
            padding-left: 6em;
            font-weight: 400;
            line-height: 1.4em;


        }
    }
}


.main__info--stripe {
    background-color: $medium-blue-transparent;
    width: 83.5%;
    margin: 0 auto;
    height: 260px;
    position: absolute;
    top: 580px;
    // z-index: 1;
}

.main__info--circle {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    border: 1px solid $medium-blue-primary;
    position: absolute;
    top: 50px;
    z-index: 9999;
}
