/* MAIN USERS */

.main__users {
    &--container {
        position: relative;
    }

    &--profilebox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;
    }

    &--avatar {
        width: 180px;
        height: 180px;
        background-color: $neutral-grey;
        border-radius: 50%;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &--info {
        text-align: center;
        padding: 3em;
    }

    &--name,
    &--location {
        padding-bottom: 1em;
        text-transform: capitalize;
    }

    &--bold {
        font-weight: 600;
        text-rendering: optimizeLegibility;
        font-size: 1.2em;
        line-height: 1.2em;
    }
}

.violet {
    background-color: $violet-primary;
    &:hover {
        background-color: lighten($violet-primary, 1);

    }
}

.turquoise {
    background-color: $turquoise-secondary-dark;
    color: $dark-blue-primary;
    &:hover {
        background-color: lighten($turquoise-secondary-dark, 1);

    }
}

.blue {
    background-color: $dark-blue-primary;
    color: $white;
    &:hover {
        background-color: lighten($dark-blue-primary, 1);

    }
}
