.main__description--container {
    position: relative;
    // top: 100px;
    // height: 700px;
    background-color: $white;
    overflow: hidden;
    @include respond-to($tablet-portrait) {
        // height: 900px;
    }
    @include respond-to($desktop) {
        height: 900px;
    }

    .main__description--title {
        font-size: 20px;
        text-transform: uppercase;
        padding: 3em 0  0 2em;
        @include respond-to($tablet-portrait) {
            font-size: 20px;
            text-transform: uppercase;
            padding: 3em 0  0 3em;
        }
        @include respond-to($desktop) {
            margin-left: 60px;
        }
    }

    .title__circle {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid $dark-blue-primary;
        position: absolute;
        z-index: 100;
        top: 30px;
        left: 20px;
        @include respond-to($tablet-portrait) {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            border: 1px solid $dark-blue-primary;
            position: absolute;
            z-index: 100;
            top: 30px;
            left: 60px;
        }
        @include respond-to($desktop) {
            margin-left: 60px;
        }
    }

    .main__description--heading {
        font-family: 'itc_charter_blackitalic', serif;
        font-size: 24px;
        color: $black;
        // margin-top: 100px;
        line-height: 1.6em;
        padding: 1.8em 0.2em 1em 1em;
        @include respond-to($desktop) {
            font-size: 36px;
            line-height: 1.2em;
            padding: 1.8em 0.2em 1em 2em;
        }
    }

    .main__description--text {
        font-size: 18px;
        line-height: 1.4em;
        padding: 0.2em 2em 0 2em;
        @include respond-to($desktop) {
            font-size: 24px;
            line-height: 1.2em;
            padding: 0.2em 2em 0 4em;
        }
    }

    .main__description--form {
        margin-top: 3em;

        @include respond-to($tablet-portrait) {
            margin-top: 4em;
        }

        @include respond-to($desktop) {
            padding: 0.2em 2em 0 4em;
            margin: 4em 2em;
        }

        .main__description--username, .main__description--password {
            border: 1px solid $turquoise-secondary-light;
            border-radius: 6px;
            background-color: $neutral-grey;
            display: block;
            width: calc(100% - 4em);
            margin: 2em;
            padding: 1em;
            color: $dark-blue-primary;
            font-family: $main-font;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 1.2em;
            @include respond-to($tablet-portrait) {
                width: 80%;
                margin: 4em auto;
            }
            @include respond-to($desktop) {
                width: 500px;
            }

            &::-webkit-input-placeholder {
                color: $dark-blue-primary;
                text-transform: uppercase;
                font-family: $main-font;
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 1.2em;
            }

            &::-moz-placeholder {
                color: $dark-blue-primary;
                text-transform: uppercase;
                font-family: $main-font;
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 1.2em;
            }

            &::-ms-input-placeholder {
                color: $dark-blue-primary;
                text-transform: uppercase;
                font-family: $main-font;
                font-size: 14px;
                letter-spacing: 1px;
                line-height: 1.2em;
            }
        }

        .main__description--button {
            border: 2px solid $turquoise-secondary-main;
            border-radius: 6px;
            background-color: $medium-blue-primary;
            width: 80%;
            height: 40px;
            color: $white;
            font-family: $main-font;
            font-size: 16px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
            margin: 4em auto;
            display: block;
            @include respond-to($tablet-portrait) {
                width: 40%;
                margin: 4em auto;
            }
            @include respond-to($desktop) {
                border: 2px solid $turquoise-secondary-main;
                border-radius: 6px;
                background-color: $medium-blue-primary;
                width: 120px;
                height: 40px;
                color: $white;
                font-family: $main-font;
                font-size: 16px;
                letter-spacing: 0.2em;
                text-transform: uppercase;
                margin: 2em auto;
            }
        }
    }

    .main__description--image {
        display: none;
        transform: rotate3d(-1, 1, 1, 20deg);
        -webkit-transform: rotate3d(-1, 1, 1, 20deg);
        transform-origin: center center;
        transition: all 0.2s ease-in-out 4s;
        -webkit-transform-origin: center center;
        -webkit-transition: all 0.2s ease-in-out 4s;

        @include respond-to($desktop) {
            display: block;
            transform: rotate3d(-1, 1, 1, 20deg);
            -webkit-transform: rotate3d(-1, 1, 1, 20deg);
            transform-origin: center center;
            transition: all 0.2s ease-in-out 4s;
            -webkit-transform-origin: center center;
            -webkit-transition: all 0.2s ease-in-out 4s;

        }

        .main__description--device {
            width: 500px;
            position: relative;
            top: 15em;
            right: 10em;
            // visibility: hidden;
            display: none;

            @include respond-to($desktop) {
            display: block;
                &:hover {
                    -webkit-animation: shake 0.1s ease-in-out 0.1s infinite alternate;
                }
            }
        }

        .main__description--screen1, .main__description--screen2 {
            width: 230px;
            position: relative;
            top: -18em;
            right: 1.5em;

        }

        .main__description--screen1 {
            z-index: 1;
            // visibility: hidden;
            display: none;

            @include respond-to($desktop) {
            // visibility: visible;
            display: block;
                &:hover {
                    -webkit-animation: pulse 0.5s ease-in infinite;
                }
            }
        }

        .main__description--screen2 {
            // visibility: hidden;
            display: none;


            @include respond-to($large-desktop) {
                display: block;
                position: relative;
                right: -8em;
                top: -696px;
                // visibility: visible;
                &:hover {
                    -webkit-animation: pulse 0.5s ease-in infinite;
                }
            }
        }
    }

    .main__description--dots {
        display: none;

        @include respond-to($desktop) {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            top: -200px;
            z-index: 999999;
            width: 300px;
        }
        @include respond-to($large-desktop) {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            top: -600px;
            z-index: 999999;
            width: 300px;
        }
    }

    .main__description--dot {
        width: 10px;
        height: 10px;
        background-color: $dark-blue-primary;
        margin: 10px;
        border-radius: 50%;
    }
}


@-webkit-keyframes shake {
 from {
    -webkit-transform: rotate(10deg);
 }
 to {
   -webkit-transform-origin:center center;
   -webkit-transform: rotate(-10deg);
 }
}

@keyframes pulse{
  25%  {transform: scale(0.9);}
  75%  {transform: scale(1.1);}
}
@keyframes push{
  50%  {transform: scale(0.8);}
}
@keyframes pop{
  50%  {transform: scale(1.2);}
}
