/* MAIN SEARCHFORM */
#main__searchform {
    padding-top: 120px;
}

.main__searchform {
    &--container {
        width: 100%;
        height: 240px;
        position: relative;
        display: flex;
        justify-content: center;
        @include respond-to($tablet-portrait) {
            height: 240px;
        }
        @include respond-to($desktop) {
            height: 240px;
        }
    }

    &--title {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        @include respond-to($tablet-portrait) {
            font-size: 25px;
        }
        @include respond-to($desktop) {
            font-size: 25px;
        }
    }

    &--input {
        display: block;
        width: 100%;
        // margin: 3em 0 2em;
        color: $dark-blue-primary;
        font-family: $main-font;
        font-size: 14px;
        letter-spacing: 1px;

        &:focus {
            outline-color: $turquoise-secondary-main;
        }

        &::placeholder {
            color: $dark-blue-primary;
            font-family: $main-font;
            font-size: 14px;
            letter-spacing: 1px;
            height: 40px;
        }
    }

    &--alert {
        font-size: 14px;
        margin-top: 20px;
        color: $turquoise-secondary-light;
        padding: 1em;
    }

    &--button {
        display: block;
        width: 100%;
        height: 50px;
        margin: 20px 0;
        border-style: none;
        font-family: $main-font;
        padding-left: 20px;
        font-size: 16px;
        line-height: 20px;
        background-color: $dark-blue-primary;
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
}
/* GOOGLE MAP STYLES */
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
    position: relative;
    display: block;
    height: 600px;
    width: 100vw;
    margin: 10px 0;
}
/* Optional: Makes the sample page fill the window. */
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: $white;
    font-family: $main-font;
    font-size: 15px;
    text-overflow: ellipsis;
    width: calc(100% - 0.2em);
    height: 45px;
    margin-top: 20px;
    color: $dark-blue-primary;
    letter-spacing: 1px;

    &::placeholder {
        color: $dark-blue-primary;
        font-family: $main-font;
        font-size: 18px;
        letter-spacing: 1px;
        line-height: 1.2em;
    }

    &:focus {
        outline-color: $turquoise-secondary-main;
    }
    // @include respond-to($desktop) {
    //     width: 440px;
    // }
}

#title {
    color: $white;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

.match-found {
    border: 10px solid $turquoise-secondary-light;
}
