.main__users--container {
    // position: relative;
    padding-top: 20px;
    height: 500px;

    .main__users--row {

        .main__users--profilebox {
            padding: 5em 3em 3em 3em;
            height: 500px;

            .main__users--avatar {
                width: 180px;
                height: 180px;
                background-color: $neutral-grey;
                border-radius: 50%;
                margin: 0 auto;
            }

            .main__users--info {
                text-align: center;
                padding: 3em;

                .main__users--name {
                    padding-bottom: 1.5em;
                }
            }

        }

        .violet {
            background-color: $violet-primary;

            &:hover {
                background-color: lighten($violet-primary, 1);

            }
        }

        .turquoise {
            background-color: $turquoise-secondary-dark;
            color: $dark-blue-primary;

            &:hover {
                background-color: lighten($turquoise-secondary-dark, 1);

            }
        }

        .blue {
            background-color: $dark-blue-primary;
            color: $white;

            &:hover {
                background-color: lighten($dark-blue-primary, 1);

            }
        }
    }
}
