@import 'keyframes';

@include keyframe(shake) {
    0% {
        transform: rotate(10deg);
    }

    100% {
        transform-origin: center center;
        transform: rotate(-10deg);
    }
}

@include keyframe(pulse) {
    25% {
        transform: scale(0.9);
    }

    75% {
        transform: scale(1.1);
    }
}
