// Color variables

$dark-blue-primary: #0026CA;
$medium-blue-primary: #304FFE;
$violet-primary: #7A7CFF;
$medium-blue-transparent: rgba(51, 102, 255, 0.76);

$turquoise-secondary-main: #18FFFF;
$turquoise-secondary-dark: #00CBCC;
$turquoise-secondary-light: #76FFFF;

$neutral-grey: #F1F1F1;
$black: #000000;
$white: #FFFFFF;
