$main-font: 'Roboto Mono', monospace;
$heading-font: 'charteritc_bd_btbold_italic', serif;
$heading-secondary-font: 'charteritc_bd_btbold_italic', serif;

@font-face {
    font-family: 'itc_charter_blackitalic';
    src: url('../fonts/itc-charter-black-italic-59819d9073fac-webfont.woff2') format('woff2'),
         url('../fonts/itc-charter-black-italic-59819d9073fac-webfont.woff') format('woff'),
         url('../fonts/itc-charter-black-italic-59819d9073fac-webfont.ttf') format('truetype'),
         url('../fonts/itc-charter-black-italic-59819d9073fac-webfont.svg#itc_charter_blackitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'charteritc_bd_btbold_italic';
    src: url('../fonts/charter-itc-bold-italic-bt-59819d491b910-webfont.woff2') format('woff2'),
         url('../fonts/charter-itc-bold-italic-bt-59819d491b910-webfont.woff') format('woff'),
         url('../fonts/charter-itc-bold-italic-bt-59819d491b910-webfont.ttf') format('truetype'),
         url('../fonts/charter-itc-bold-italic-bt-59819d491b910-webfont.svg#charteritc_bd_btbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
